<md-list flex id="studentList">

  <md-subheader class="md-no-sticky" style="padding: 0"><strong>Students</strong></md-subheader>
  <md-list-item class="md-1-line" ng-repeat="student in students" ng-click="null" style="border-bottom: 1px inset;">

    <!--<div layout-gt-xs="row">-->
    <!--<div flex-offset="25">-->
    <div class="md-list-item-text" layout="column">
      <h4>Name: {{ student.name }}</h4>
      <p>Table: {{ student.table}}</p>
    </div>
    <!--</div>-->
    <!--</div>-->
    <md-button class="md-secondary md-raised" ng-click="removeStudent(student)">remove</md-button>
  </md-list-item>
  <md-divider></md-divider>
  <md-subheader class="md-no-sticky" style="padding: 0"><strong>Add Student</strong></md-subheader>
  <md-list-item>
    <form name="studentForm">
      <!-- ng-submit is temporarily broken with two md-input-containers: https://github.com/angular/material/issues/3990 -->
      <!-- using key press event as a workaround -->
      <md-input-container>
        <label for="nameInput">name</label>
        <input ng-model="newStudent.name" name="name" required md-no-asterisk id="nameInput"
               ng-keyup="keyPressed($event)">
        <div ng-messages="studentForm.name.$error">
          <div ng-message="required">This is required.</div>
        </div>
      </md-input-container>
      <md-input-container>
        <label for="tableInput">table</label>
        <input ng-model="newStudent.table" name="table" type="number" required md-no-asterisk id="tableInput"
               ng-keyup="keyPressed($event)">
        <div ng-messages="studentForm.table.$error">
          <div ng-message="required">This is required.</div>
          <div ng-message="existsError">This table has been assigned.</div>
        </div>
      </md-input-container>
      <md-button class="md-primary raised" aria-label="add student" ng-click="keyPressed({keyCode:13})"
                 id="addStudentButton"
                 style="vertical-align: text-bottom;">
        <span class="glyphicon glyphicon-plus" style="color:rgba(0,0,0,0.54);"></span>
      </md-button>
    </form>
  </md-list-item>

</md-list>
